<section class="dashboard-main">

  <section class='dashboard-top'>
    <h1> <%= current_user.first_name %>'s Dashboard </h1>
    <h3>Active: <%= current_user.active %></h3>
    <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
    <h4>Account Details</h4>
    <h5><%= current_user.first_name  %> <%= current_user.last_name %></h5>
    <h5><%= current_user.email%></h5>
  </section>

  <section class= 'friends'>
    <h3 id='gh-title'>Your Friends</h3>
    <table class= 'github'>
      <% current_user.friends.each do |friend| %>
      <tr>
        <td><%= "#{friend.first_name} #{friend.last_name}" %></td>
        <td><p>Github: <%= friend.handle %></p></td>
      </tr>
      <% end %>
      <center><%= link_to 'Send an Invite', invite_path, class: "btn btn-primary mb1 bg-teal" %></center>
    </table>
  </section>

  <section class= 'bookmarks'>
    <h3 id='gh-title'>Bookmarked Segments</h3>
    <% current_user.bookmarks_by_tutorial.each do |tutorial| %>
        <table class= 'bookmarks-table'>
          <tr>
          <th><h3><%= tutorial.title %></h3></th>
          </tr>
          <section class= 'bm-videos'>
            <% tutorial.videos.each do |video| %>
              <tr>
                <td><h3><%= link_to video.title, tutorial_path(id: tutorial.id, video_id: video.id), class: "show-link", id: video.position %></h3></td>
              </tr>
            <% end %>
          </section>
        </table>
      <% end %>
  </section>

  <% if current_user.gh_token %>
    <section id= 'gh-grid'>
      <h3 id='gh-title'>Github</h3>
      <section class= 'repos'>
        <table class= 'github'>
          <tr>
            <th>Repos</th>
          </tr>
          <% facade.repos.each do |repo| %>
            <tr>
              <td><%= link_to repo.name, repo.html_url %></td>
            </tr>
          <% end %>
      </table>
      </section>

      <section class= 'followers'>
        <table class= 'github'>
          <tr>
            <th colspan="2">Followers</th>
          </tr>
        <% facade.following.each do |user| %>
        <%= render partial: 'partials/gh_user_show',
                   locals: {user: user, facade: facade} %>
        <% end %>
      </table>
      </section>

      <section class= 'following'>
        <table class= 'github'>
          <tr>
            <th colspan="2">Following</th>
          </tr>
        <% facade.followers.each do |user| %>
        <%= render partial: 'partials/gh_user_show',
                   locals: {user: user, facade: facade} %>
        <% end %>
      </table>
      </section>
    </section>
  <% else %>
    <%= link_to "Connect to Github", "/auth/github", method: :get, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
